In [ ]:
READ CSV FILE

In [1]:
import pandas as pd 

df = pd.read_csv("datasets/pokemon_data.csv")

In [2]:
print(df.head(5))

   #                   Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
0  1              Bulbasaur  Grass  Poison  45      49       49       65
1  2                Ivysaur  Grass  Poison  60      62       63       80
2  3               Venusaur  Grass  Poison  80      82       83      100
3  3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122
4  4             Charmander   Fire     NaN  39      52       43       60

   Sp. Def  Speed  Generation  Legendary
0       65     45           1      False
1       80     60           1      False
2      100     80           1      False
3      120     80           1      False
4       50     65           1      False

In [3]:
print(df.tail(5))

       #                 Name   Type 1 Type 2  HP  Attack  Defense  Sp. Atk  \
795  719              Diancie     Rock  Fairy  50     100      150      100
796  719  DiancieMega Diancie     Rock  Fairy  50     160      110      160
797  720  HoopaHoopa Confined  Psychic  Ghost  80     110       60      150
798  720   HoopaHoopa Unbound  Psychic   Dark  80     160       60      170
799  721            Volcanion     Fire  Water  80     110      120      130

     Sp. Def  Speed  Generation  Legendary
795      150     50           6       True
796      110    110           6       True
797      130     70           6       True
798      130     80           6       True
799       90     70           6       True

Read an excel file. 
  Note: need to pip3 install openpyxl to read excel xlsx file

In [11]:
import pandas as pd 

df_xlsx = pd.read_excel('datasets/pokemon_data.xlsx')

In [12]:
print(df_xlsx.head(3))

   #       Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
0  1  Bulbasaur  Grass  Poison  45      49       49       65       65     45
1  2    Ivysaur  Grass  Poison  60      62       63       80       80     60
2  3   Venusaur  Grass  Poison  80      82       83      100      100     80

   Generation  Legendary
0           1      False
1           1      False
2           1      False

<font size="5">Read a text delimiter file</font>

In [13]:
import pandas as pd 

df = pd.read_csv("datasets/pokemon_data.txt", delimiter='\t')

In [14]:
print(df.head(5))

   #                   Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
0  1              Bulbasaur  Grass  Poison  45      49       49       65
1  2                Ivysaur  Grass  Poison  60      62       63       80
2  3               Venusaur  Grass  Poison  80      82       83      100
3  3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122
4  4             Charmander   Fire     NaN  39      52       43       60

   Sp. Def  Speed  Generation  Legendary
0       65     45           1      False
1       80     60           1      False
2      100     80           1      False
3      120     80           1      False
4       50     65           1      False

In [15]:
# Read the headers 
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [21]:
# Read the first five names 
df["Name"] [0:5]

0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
5               Charmeleon
Name: Name, dtype: object

In [25]:
# Read multiple data fields 
df[["Name", "Type 1", "HP"]] [0:5]

                    Name Type 1  HP
0              Bulbasaur  Grass  45
1                Ivysaur  Grass  60
2               Venusaur  Grass  80
3  VenusaurMega Venusaur  Grass  80
4             Charmander   Fire  39

In [27]:
# Read the 1st four rows (records). Note: the first row is the header 
df.iloc[1:4]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False

In [31]:
# Read the specific data point (R,C). For example: data of the second row, fifth column (Attack=82)
df.iloc[2,5]

82

In [32]:

for index,row in df.iterrows(): 
    print(index,row)

kiddo
Type 1         Grass
Type 2           NaN
HP                66
Attack            65
Defense           48
Sp. Atk           62
Sp. Def           57
Speed             52
Generation         6
Legendary      False
Name: 740, dtype: object
741 #                673
Name          Gogoat
Type 1         Grass
Type 2           NaN
HP               123
Attack           100
Defense           62
Sp. Atk           97
Sp. Def           81
Speed             68
Generation         6
Legendary      False
Name: 741, dtype: object
742 #                  674
Name           Pancham
Type 1        Fighting
Type 2             NaN
HP                  67
Attack              82
Defense             62
Sp. Atk             46
Sp. Def             48
Speed               43
Generation           6
Legendary        False
Name: 742, dtype: object
743 #                  675
Name           Pangoro
Type 1        Fighting
Type 2            Dark
HP                  95
Attack             124
Defense             78
Sp. Atk             69
Sp. Def             71
Speed               58
Generation           6
Legendary        False
Name: 743, dtype: object
744 #                 676
Name          Furfrou
Type 1         Normal
Type 2            NaN
HP                 75
Attack             80
Defense            60
Sp. Atk            65
Sp. Def            90
Speed             102
Generation          6
Legendary       False
Name: 744, dtype: object
745 #                 677
Name           Espurr
Type 1        Psychic
Type 2            NaN
HP                 62
Attack             48
Defense            54
Sp. Atk            63
Sp. Def            60
Speed              68
Generation          6
Legendary       False
Name: 745, dtype: object
746 #                      678
Name          MeowsticMale
Type 1             Psychic
Type 2                 NaN
HP                      74
Attack                  48
Defense                 76
Sp. Atk                 83
Sp. Def                 81
Speed                  104
Generation               6
Legendary            False
Name: 746, dtype: object
747 #                        678
Name          MeowsticFemale
Type 1               Psychic
Type 2                   NaN
HP                        74
Attack                    48
Defense                   76
Sp. Atk                   83
Sp. Def                   81
Speed                    104
Generation                 6
Legendary              False
Name: 747, dtype: object
748 #                 679
Name          Honedge
Type 1          Steel
Type 2          Ghost
HP                 45
Attack             80
Defense           100
Sp. Atk            35
Sp. Def            37
Speed              28
Generation          6
Legendary       False
Name: 748, dtype: object
749 #                  680
Name          Doublade
Type 1           Steel
Type 2           Ghost
HP                  59
Attack             110
Defense            150
Sp. Atk             45
Sp. Def             49
Speed               35
Generation           6
Legendary        False
Name: 749, dtype: object
750 #                              681
Name          AegislashBlade Forme
Type 1                       Steel
Type 2                       Ghost
HP                              60
Attack                         150
Defense                         50
Sp. Atk                        150
Sp. Def                         50
Speed                           60
Generation                       6
Legendary                    False
Name: 750, dtype: object
751 #                               681
Name          AegislashShield Forme
Type 1                        Steel
Type 2                        Ghost
HP                               60
Attack                           50
Defense                         150
Sp. Atk                          50
Sp. Def                         150
Speed                            60
Generation                        6
Legendary                     False
Name: 751, dtype: object
752 #                  682
Name          Spritzee
Type 1           Fairy
Type 2             NaN
HP                  78
Attack              52
Defense             60
Sp. Atk             63
Sp. Def             65
Speed               23
Generation           6
Legendary        False
Name: 752, dtype: object
753 #                    683
Name          Aromatisse
Type 1             Fairy
Type 2               NaN
HP                   101
Attack                72
Defense               72
Sp. Atk               99
Sp. Def               89
Speed                 29
Generation             6
Legendary          False
Name: 753, dtype: object
754 #                 684
Name          Swirlix
Type 1          Fairy
Type 2            NaN
HP                 62
Attack             48
Defense            66
Sp. Atk            59
Sp. Def            57
Speed              49
Generation          6
Legendary       False
Name: 754, dtype: object
755 #                  685
Name          Slurpuff
Type 1           Fairy
Type 2             NaN
HP                  82
Attack              80
Defense             86
Sp. Atk             85
Sp. Def             75
Speed               72
Generation           6
Legendary        False
Name: 755, dtype: object
756 #                 686
Name            Inkay
Type 1           Dark
Type 2        Psychic
HP                 53
Attack             54
Defense            53
Sp. Atk            37
Sp. Def            46
Speed              45
Generation          6
Legendary       False
Name: 756, dtype: object
757 #                 687
Name          Malamar
Type 1           Dark
Type 2        Psychic
HP                 86
Attack             92
Defense            88
Sp. Atk            68
Sp. Def            75
Speed              73
Generation          6
Legendary       False
Name: 757, dtype: object
758 #                 688
Name          Binacle
Type 1           Rock
Type 2          Water
HP                 42
Attack             52
Defense            67
Sp. Atk            39
Sp. Def            56
Speed              50
Generation          6
Legendary       False
Name: 758, dtype: object
759 #                    689
Name          Barbaracle
Type 1              Rock
Type 2             Water
HP                    72
Attack               105
Defense              115
Sp. Atk               54
Sp. Def               86
Speed                 68
Generation             6
Legendary          False
Name: 759, dtype: object
760 #                690
Name          Skrelp
Type 1        Poison
Type 2         Water
HP                50
Attack            60
Defense           60
Sp. Atk           60
Sp. Def           60
Speed             30
Generation         6
Legendary      False
Name: 760, dtype: object
761 #                  691
Name          Dragalge
Type 1          Poison
Type 2          Dragon
HP                  65
Attack              75
Defense             90
Sp. Atk             97
Sp. Def            123
Speed               44
Generation           6
Legendary        False
Name: 761, dtype: object
762 #                   692
Name          Clauncher
Type 1            Water
Type 2              NaN
HP                   50
Attack               53
Defense              62
Sp. Atk              58
Sp. Def              63
Speed                44
Generation            6
Legendary         False
Name: 762, dtype: object
763 #                   693
Name          Clawitzer
Type 1            Water
Type 2              NaN
HP                   71
Attack               73
Defense              88
Sp. Atk             120
Sp. Def              89
Speed                59
Generation            6
Legendary         False
Name: 763, dtype: object
764 #                    694
Name          Helioptile
Type 1          Electric
Type 2            Normal
HP                    44
Attack                38
Defense               33
Sp. Atk               61
Sp. Def               43
Speed                 70
Generation             6
Legendary          False
Name: 764, dtype: object
765 #                   695
Name          Heliolisk
Type 1         Electric
Type 2           Normal
HP                   62
Attack               55
Defense              52
Sp. Atk             109
Sp. Def              94
Speed               109
Generation            6
Legendary         False
Name: 765, dtype: object
766 #                696
Name          Tyrunt
Type 1          Rock
Type 2        Dragon
HP                58
Attack            89
Defense           77
Sp. Atk           45
Sp. Def           45
Speed             48
Generation         6
Legendary      False
Name: 766, dtype: object
767 #                   697
Name          Tyrantrum
Type 1             Rock
Type 2           Dragon
HP                   82
Attack              121
Defense             119
Sp. Atk              69
Sp. Def              59
Speed                71
Generation            6
Legendary         False
Name: 767, dtype: object
768 #                698
Name          Amaura
Type 1          Rock
Type 2           Ice
HP                77
Attack            59
Defense           50
Sp. Atk           67
Sp. Def           63
Speed             46
Generation         6
Legendary      False
Name: 768, dtype: object
769 #                 699
Name          Aurorus
Type 1           Rock
Type 2            Ice
HP                123
Attack             77
Defense            72
Sp. Atk            99
Sp. Def            92
Speed              58
Generation          6
Legendary       False
Name: 769, dtype: object
770 #                 700
Name          Sylveon
Type 1          Fairy
Type 2            NaN
HP                 95
Attack             65
Defense            65
Sp. Atk           110
Sp. Def           130
Speed              60
Generation          6
Legendary       False
Name: 770, dtype: object
771 #                  701
Name          Hawlucha
Type 1        Fighting
Type 2          Flying
HP                  78
Attack              92
Defense             75
Sp. Atk             74
Sp. Def             63
Speed              118
Generation           6
Legendary        False
Name: 771, dtype: object
772 #                  702
Name           Dedenne
Type 1        Electric
Type 2           Fairy
HP                  67
Attack              58
Defense             57
Sp. Atk             81
Sp. Def             67
Speed              101
Generation           6
Legendary        False
Name: 772, dtype: object
773 #                 703
Name          Carbink
Type 1           Rock
Type 2          Fairy
HP                 50
Attack             50
Defense           150
Sp. Atk            50
Sp. Def           150
Speed              50
Generation          6
Legendary       False
Name: 773, dtype: object
774 #                704
Name           Goomy
Type 1        Dragon
Type 2           NaN
HP                45
Attack            50
Defense           35
Sp. Atk           55
Sp. Def           75
Speed             40
Generation         6
Legendary      False
Name: 774, dtype: object
775 #                 705
Name          Sliggoo
Type 1         Dragon
Type 2            NaN
HP                 68
Attack             75
Defense            53
Sp. Atk            83
Sp. Def           113
Speed              60
Generation          6
Legendary       False
Name: 775, dtype: object
776 #                706
Name          Goodra
Type 1        Dragon
Type 2           NaN
HP                90
Attack           100
Defense           70
Sp. Atk          110
Sp. Def          150
Speed             80
Generation         6
Legendary      False
Name: 776, dtype: object
777 #                707
Name          Klefki
Type 1         Steel
Type 2         Fairy
HP                57
Attack            80
Defense           91
Sp. Atk           80
Sp. Def           87
Speed             75
Generation         6
Legendary      False
Name: 777, dtype: object
778 #                  708
Name          Phantump
Type 1           Ghost
Type 2           Grass
HP                  43
Attack              70
Defense             48
Sp. Atk             50
Sp. Def             60
Speed               38
Generation           6
Legendary        False
Name: 778, dtype: object
779 #                   709
Name          Trevenant
Type 1            Ghost
Type 2            Grass
HP                   85
Attack              110
Defense              76
Sp. Atk              65
Sp. Def              82
Speed                56
Generation            6
Legendary         False
Name: 779, dtype: object
780 #                               710
Name          PumpkabooAverage Size
Type 1                        Ghost
Type 2                        Grass
HP                               49
Attack                           66
Defense                          70
Sp. Atk                          44
Sp. Def                          55
Speed                            51
Generation                        6
Legendary                     False
Name: 780, dtype: object
781 #                             710
Name          PumpkabooSmall Size
Type 1                      Ghost
Type 2                      Grass
HP                             44
Attack                         66
Defense                        70
Sp. Atk                        44
Sp. Def                        55
Speed                          56
Generation                      6
Legendary                   False
Name: 781, dtype: object
782 #                             710
Name          PumpkabooLarge Size
Type 1                      Ghost
Type 2                      Grass
HP                             54
Attack                         66
Defense                        70
Sp. Atk                        44
Sp. Def                        55
Speed                          46
Generation                      6
Legendary                   False
Name: 782, dtype: object
783 #                             710
Name          PumpkabooSuper Size
Type 1                      Ghost
Type 2                      Grass
HP                             59
Attack                         66
Defense                        70
Sp. Atk                        44
Sp. Def                        55
Speed                          41
Generation                      6
Legendary                   False
Name: 783, dtype: object
784 #                               711
Name          GourgeistAverage Size
Type 1                        Ghost
Type 2                        Grass
HP                               65
Attack                           90
Defense                         122
Sp. Atk                          58
Sp. Def                          75
Speed                            84
Generation                        6
Legendary                     False
Name: 784, dtype: object
785 #                             711
Name          GourgeistSmall Size
Type 1                      Ghost
Type 2                      Grass
HP                             55
Attack                         85
Defense                       122
Sp. Atk                        58
Sp. Def                        75
Speed                          99
Generation                      6
Legendary                   False
Name: 785, dtype: object
786 #                             711
Name          GourgeistLarge Size
Type 1                      Ghost
Type 2                      Grass
HP                             75
Attack                         95
Defense                       122
Sp. Atk                        58
Sp. Def                        75
Speed                          69
Generation                      6
Legendary                   False
Name: 786, dtype: object
787 #                             711
Name          GourgeistSuper Size
Type 1                      Ghost
Type 2                      Grass
HP                             85
Attack                        100
Defense                       122
Sp. Atk                        58
Sp. Def                        75
Speed                          54
Generation                      6
Legendary                   False
Name: 787, dtype: object
788 #                  712
Name          Bergmite
Type 1             Ice
Type 2             NaN
HP                  55
Attack              69
Defense             85
Sp. Atk             32
Sp. Def             35
Speed               28
Generation           6
Legendary        False
Name: 788, dtype: object
789 #                 713
Name          Avalugg
Type 1            Ice
Type 2            NaN
HP                 95
Attack            117
Defense           184
Sp. Atk            44
Sp. Def            46
Speed              28
Generation          6
Legendary       False
Name: 789, dtype: object
790 #                714
Name          Noibat
Type 1        Flying
Type 2        Dragon
HP                40
Attack            30
Defense           35
Sp. Atk           45
Sp. Def           40
Speed             55
Generation         6
Legendary      False
Name: 790, dtype: object
791 #                 715
Name          Noivern
Type 1         Flying
Type 2         Dragon
HP                 85
Attack             70
Defense            80
Sp. Atk            97
Sp. Def            80
Speed             123
Generation          6
Legendary       False
Name: 791, dtype: object
792 #                 716
Name          Xerneas
Type 1          Fairy
Type 2            NaN
HP                126
Attack            131
Defense            95
Sp. Atk           131
Sp. Def            98
Speed              99
Generation          6
Legendary        True
Name: 792, dtype: object
793 #                 717
Name          Yveltal
Type 1           Dark
Type 2         Flying
HP                126
Attack            131
Defense            95
Sp. Atk           131
Sp. Def            98
Speed              99
Generation          6
Legendary        True
Name: 793, dtype: object
794 #                          718
Name          Zygarde50% Forme
Type 1                  Dragon
Type 2                  Ground
HP                         108
Attack                     100
Defense                    121
Sp. Atk                     81
Sp. Def                     95
Speed                       95
Generation                   6
Legendary                 True
Name: 794, dtype: object
795 #                 719
Name          Diancie
Type 1           Rock
Type 2          Fairy
HP                 50
Attack            100
Defense           150
Sp. Atk           100
Sp. Def           150
Speed              50
Generation          6
Legendary        True
Name: 795, dtype: object
796 #                             719
Name          DiancieMega Diancie
Type 1                       Rock
Type 2                      Fairy
HP                             50
Attack                        160
Defense                       110
Sp. Atk                       160
Sp. Def                       110
Speed                         110
Generation                      6
Legendary                    True
Name: 796, dtype: object
797 #                             720
Name          HoopaHoopa Confined
Type 1                    Psychic
Type 2                      Ghost
HP                             80
Attack                        110
Defense                        60
Sp. Atk                       150
Sp. Def                       130
Speed                          70
Generation                      6
Legendary                    True
Name: 797, dtype: object
798 #                            720
Name          HoopaHoopa Unbound
Type 1                   Psychic
Type 2                      Dark
HP                            80
Attack                       160
Defense                       60
Sp. Atk                      170
Sp. Def                      130
Speed                         80
Generation                     6
Legendary                   True
Name: 798, dtype: object
799 #                   721
Name          Volcanion
Type 1             Fire
Type 2            Water
HP                   80
Attack              110
Defense             120
Sp. Atk             130
Sp. Def              90
Speed                70
Generation            6
Legendary          True
Name: 799, dtype: object

In [34]:
# Find all rows (records) containing the specific data like "Dragon"
df.loc[df["Type 1"] == "Dragon"]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
159,147,Dratini,Dragon,NaN,41,64,45,50,50,50,1,False
160,148,Dragonair,Dragon,NaN,61,84,65,70,70,70,1,False
161,149,Dragonite,Dragon,Flying,91,134,95,100,100,80,1,False
365,334,Altaria,Dragon,Flying,75,70,90,70,105,80,3,False
366,334,AltariaMega Altaria,Dragon,Fairy,75,110,110,110,105,80,3,False
406,371,Bagon,Dragon,NaN,45,75,60,40,30,50,3,False
407,372,Shelgon,Dragon,NaN,65,95,100,60,50,50,3,False
408,373,Salamence,Dragon,Flying,95,135,80,110,80,100,3,False
409,373,SalamenceMega Salamence,Dragon,Flying,95,145,130,120,90,120,3,False
417,380,Latias,Dragon,Psychic,80,80,90,110,130,110,3,True
418,380,LatiasMega Latias,Dragon,Psychic,80,100,120,140,150,110,3,True
419,381,Latios,Dragon,Psychic,80,90,80,130,110,110,3,True
420,381,LatiosMega Latios,Dragon,Psychic,80,130,100,160,120,110,3,True
425,384,Rayquaza,Dragon,Flying,105,150,90,150,90,95,3,True
426,384,RayquazaMega Rayquaza,Dragon,Flying,105,180,100,180,100,115,3,True
491,443,Gible,Dragon,Ground,58,70,45,40,45,42,4,False
492,444,Gabite,Dragon,Ground,68,90,65,50,55,82,4,False
493,445,Garchomp,Dragon,Ground,108,130,95,80,85,102,4,False
494,445,GarchompMega Garchomp,Dragon,Ground,108,170,115,120,95,92,4,False
671,610,Axew,Dragon,NaN,46,87,60,30,40,57,5,False
672,611,Fraxure,Dragon,NaN,66,117,70,40,50,67,5,False
673,612,Haxorus,Dragon,NaN,76,147,90,60,70,97,5,False
682,621,Druddigon,Dragon,NaN,77,120,90,60,90,48,5,False
706,643,Reshiram,Dragon,Fire,100,120,100,150,120,90,5,True
707,644,Zekrom,Dragon,Electric,100,150,120,120,100,90,5,True
710,646,Kyurem,Dragon,Ice,125,130,90,130,90,95,5,True
711,646,KyuremBlack Kyurem,Dragon,Ice,125,170,100,120,90,95,5,True
712,646,KyuremWhite Kyurem,Dragon,Ice,125,120,90,170,100,95,5,True
774,704,Goomy,Dragon,NaN,45,50,35,55,75,40,6,False
775,705,Sliggoo,Dragon,NaN,68,75,53,83,113,60,6,False
776,706,Goodra,Dragon,NaN,90,100,70,110,150,80,6,False
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True

In [35]:
# Statistical data like mean, standard deviation, min, max... 
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [37]:
# Sorting data by "Name" in ascending order 
df.sort_values("Name", ascending=True)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False

In [48]:
# Sorting data by multiple criteria like "Type 1" in ascending order and "HP" in descending order 
df.sort_values(["Type 1", "HP"], ascending=[True, False])    # Note: [True, False] can be replaced with [1, 0]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
520,469,Yanmega,Bug,Flying,86,76,86,116,56,95,4,False
698,637,Volcarona,Bug,Fire,85,60,65,135,105,100,5,False
231,214,Heracross,Bug,Fighting,80,125,75,40,95,85,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
678,617,Accelgor,Bug,NaN,80,70,40,100,60,145,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
106,98,Krabby,Water,NaN,30,105,90,25,25,50,1,False
125,116,Horsea,Water,NaN,30,40,70,70,25,60,1,False
129,120,Staryu,Water,NaN,30,45,55,70,55,85,1,False
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
381,349,Feebas,Water,NaN,20,15,20,10,55,80,3,False

In [1]:
import pandas as pd 

df = pd.read_csv("datasets/pokemon_data.txt", delimiter='\t')

In [2]:
df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

CREATE TOTAL

In [4]:
# Create total by adding the selected fields 
df["Total"] = df["HP"] + df["Attack"] + df["Defense"] + df["Sp. Atk"] + df["Sp. Def"] + df["Speed"] 

df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

In [18]:
# Drop (delete) the total column
df = df.drop(columns=["Total"])

df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [19]:
# Add the total by adding a range of columns numbers. Notes: (1) the upper bound will not be included (2) axis=1: horizontally. Warning! remember to put a comma between the row and column  
df["Total"] = df.iloc[ :, 4:10].sum(axis=1)  # Adding columns 4 to 9, but not including column 10

df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

In [21]:
# Change the location of total to column 4, that is right after "Type 2". Note: cols[-1] is the last column 
cols = list(df.columns.values)
df = df[cols[0:4] +[cols[-1]] + cols[4:12]]

df.head(5)

,#,Name,Type 1,Type 2,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,1,Bulbasaur,Grass,Poison,False,318,45,49,49,65,65,45,1
1,2,Ivysaur,Grass,Poison,False,405,60,62,63,80,80,60,1
2,3,Venusaur,Grass,Poison,False,525,80,82,83,100,100,80,1
3,3,VenusaurMega Venusaur,Grass,Poison,False,625,80,100,123,122,120,80,1
4,4,Charmander,Fire,NaN,False,309,39,52,43,60,50,65,1

SAVING DATA IN DF TO FILES

In [22]:
# Saving data without the index to csv file 
df.to_csv("datasets/modified_pokemon.csv", index=False)

In [23]:
# Saving data without the index to excel xlsx file 
df.to_excel("datasets/modified_pokemon.xlsx", index=False)

In [24]:
# Saving data without the index to text delimiter file 
df.to_csv("datasets/modified_pokemon.txt", index=False, sep='\t')

In [ ]:
FILTERING DATA

In [25]:
# Select only data with Type 1 = "Grass"
df.loc[df["Type 1"] == "Grass"]

,#,Name,Type 1,Type 2,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,1,Bulbasaur,Grass,Poison,False,318,45,49,49,65,65,45,1
1,2,Ivysaur,Grass,Poison,False,405,60,62,63,80,80,60,1
2,3,Venusaur,Grass,Poison,False,525,80,82,83,100,100,80,1
3,3,VenusaurMega Venusaur,Grass,Poison,False,625,80,100,123,122,120,80,1
48,43,Oddish,Grass,Poison,False,320,45,50,55,75,65,30,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
718,650,Chespin,Grass,NaN,False,313,56,61,65,48,45,38,6
719,651,Quilladin,Grass,NaN,False,405,61,78,95,56,58,57,6
720,652,Chesnaught,Grass,Fighting,False,530,88,107,122,74,75,64,6
740,672,Skiddo,Grass,NaN,False,350,66,65,48,62,57,52,6
741,673,Gogoat,Grass,NaN,False,531,123,100,62,97,81,68,6

In [26]:
# Select only data with Type 1 = "Grass" and Type 2 = "Poison". Note: only one & for logical and 
df.loc[(df["Type 1"] == "Grass") & (df["Type 2"] == "Poison")]

,#,Name,Type 1,Type 2,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,1,Bulbasaur,Grass,Poison,False,318,45,49,49,65,65,45,1
1,2,Ivysaur,Grass,Poison,False,405,60,62,63,80,80,60,1
2,3,Venusaur,Grass,Poison,False,525,80,82,83,100,100,80,1
3,3,VenusaurMega Venusaur,Grass,Poison,False,625,80,100,123,122,120,80,1
48,43,Oddish,Grass,Poison,False,320,45,50,55,75,65,30,1
49,44,Gloom,Grass,Poison,False,395,60,65,70,85,75,40,1
50,45,Vileplume,Grass,Poison,False,490,75,80,85,110,90,50,1
75,69,Bellsprout,Grass,Poison,False,300,50,75,35,70,30,40,1
76,70,Weepinbell,Grass,Poison,False,390,65,90,50,85,45,55,1
77,71,Victreebel,Grass,Poison,False,490,80,105,65,100,70,70,1
344,315,Roselia,Grass,Poison,False,400,50,60,45,100,80,65,3
451,406,Budew,Grass,Poison,False,280,40,30,35,50,70,55,4
452,407,Roserade,Grass,Poison,False,515,60,70,65,125,105,90,4
651,590,Foongus,Grass,Poison,False,294,69,55,45,55,55,15,5
652,591,Amoonguss,Grass,Poison,False,464,114,85,70,85,80,30,5

In [27]:
# Select only data with either Type 1 = "Grass" OR Type 2 = "Poison". Note: only one | for logical OR 
df.loc[(df["Type 1"] == "Grass") | (df["Type 2"] == "Poison")]

,#,Name,Type 1,Type 2,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,1,Bulbasaur,Grass,Poison,False,318,45,49,49,65,65,45,1
1,2,Ivysaur,Grass,Poison,False,405,60,62,63,80,80,60,1
2,3,Venusaur,Grass,Poison,False,525,80,82,83,100,100,80,1
3,3,VenusaurMega Venusaur,Grass,Poison,False,625,80,100,123,122,120,80,1
16,13,Weedle,Bug,Poison,False,195,40,35,30,20,20,50,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
718,650,Chespin,Grass,NaN,False,313,56,61,65,48,45,38,6
719,651,Quilladin,Grass,NaN,False,405,61,78,95,56,58,57,6
720,652,Chesnaught,Grass,Fighting,False,530,88,107,122,74,75,64,6
740,672,Skiddo,Grass,NaN,False,350,66,65,48,62,57,52,6
741,673,Gogoat,Grass,NaN,False,531,123,100,62,97,81,68,6

In [28]:
new_df = df.loc[(df["Type 1"] == "Grass") & (df["Type 2"] == "Poison")]

# create a new ascending index and remove the old index 
new_df = new_df.reset_index(drop=True)
new_df.head(5)

,#,Name,Type 1,Type 2,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,1,Bulbasaur,Grass,Poison,False,318,45,49,49,65,65,45,1
1,2,Ivysaur,Grass,Poison,False,405,60,62,63,80,80,60,1
2,3,Venusaur,Grass,Poison,False,525,80,82,83,100,100,80,1
3,3,VenusaurMega Venusaur,Grass,Poison,False,625,80,100,123,122,120,80,1
4,43,Oddish,Grass,Poison,False,320,45,50,55,75,65,30,1

In [29]:
# Select only data having "Name" containing the word "Mega"
df.loc[df["Name"].str.contains("Mega")]

,#,Name,Type 1,Type 2,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
3,3,VenusaurMega Venusaur,Grass,Poison,False,625,80,100,123,122,120,80,1
7,6,CharizardMega Charizard X,Fire,Dragon,False,634,78,130,111,130,85,100,1
8,6,CharizardMega Charizard Y,Fire,Flying,False,634,78,104,78,159,115,100,1
12,9,BlastoiseMega Blastoise,Water,NaN,False,630,79,103,120,135,115,78,1
19,15,BeedrillMega Beedrill,Bug,Poison,False,495,65,150,40,15,80,145,1
23,18,PidgeotMega Pidgeot,Normal,Flying,False,579,83,80,80,135,80,121,1
71,65,AlakazamMega Alakazam,Psychic,NaN,False,590,55,50,65,175,95,150,1
87,80,SlowbroMega Slowbro,Water,Psychic,False,590,95,75,180,130,80,30,1
102,94,GengarMega Gengar,Ghost,Poison,False,600,60,65,80,170,95,130,1
124,115,KangaskhanMega Kangaskhan,Normal,NaN,False,590,105,125,100,60,100,100,1
137,127,PinsirMega Pinsir,Bug,Flying,False,600,65,155,120,65,90,105,1
141,130,GyaradosMega Gyarados,Water,Dark,False,640,95,155,109,70,130,81,1
154,142,AerodactylMega Aerodactyl,Rock,Flying,False,615,80,135,85,70,95,150,1
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,True,780,106,190,100,154,100,130,1
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,True,780,106,150,70,194,120,140,1
168,154,Meganium,Grass,NaN,False,525,80,82,100,83,100,80,2
196,181,AmpharosMega Ampharos,Electric,Dragon,False,610,90,95,105,165,110,45,2
224,208,SteelixMega Steelix,Steel,Ground,False,610,75,125,230,55,95,30,2
229,212,ScizorMega Scizor,Bug,Steel,False,600,70,150,140,65,100,75,2
232,214,HeracrossMega Heracross,Bug,Fighting,False,600,80,185,115,40,105,75,2
248,229,HoundoomMega Houndoom,Dark,Fire,False,600,75,90,90,140,90,115,2
268,248,TyranitarMega Tyranitar,Rock,Dark,False,700,100,164,150,95,120,71,2
275,254,SceptileMega Sceptile,Grass,Dragon,False,630,70,110,75,145,85,145,3
279,257,BlazikenMega Blaziken,Fire,Fighting,False,630,80,160,80,130,80,100,3
283,260,SwampertMega Swampert,Water,Ground,False,635,100,150,110,95,110,70,3
306,282,GardevoirMega Gardevoir,Psychic,Fairy,False,618,68,85,65,165,135,100,3
327,302,SableyeMega Sableye,Dark,Ghost,False,480,50,85,125,85,115,20,3
329,303,MawileMega Mawile,Steel,Fairy,False,480,50,105,125,55,95,50,3
333,306,AggronMega Aggron,Steel,NaN,False,630,70,140,230,60,80,50,3
336,308,MedichamMega Medicham,Fighting,Psychic,False,510,60,100,85,80,85,100,3
339,310,ManectricMega Manectric,Electric,NaN,False,575,70,75,80,135,80,135,3
349,319,SharpedoMega Sharpedo,Water,Dark,False,560,70,140,70,110,65,105,3
354,323,CameruptMega Camerupt,Fire,Ground,False,560,70,120,100,145,105,20,3
366,334,AltariaMega Altaria,Dragon,Fairy,False,590,75,110,110,110,105,80,3
387,354,BanetteMega Banette,Ghost,NaN,False,555,64,165,75,93,83,75,3
393,359,AbsolMega Absol,Dark,NaN,False,565,65,150,60,115,60,115,3
397,362,GlalieMega Glalie,Ice,NaN,False,580,80,120,80,120,80,100,3
409,373,SalamenceMega Salamence,Dragon,Flying,False,700,95,145,130,120,90,120,3
413,376,MetagrossMega Metagross,Steel,Psychic,False,700,80,145,150,105,110,110,3
418,380,LatiasMega Latias,Dragon,Psychic,True,700,80,100,120,140,150,110,3
420,381,LatiosMega Latios,Dragon,Psychic,True,700,80,130,100,160,120,110,3
426,384,RayquazaMega Rayquaza,Dragon,Flying,True,780,105,180,100,180,100,115,3
476,428,LopunnyMega Lopunny,Normal,Fighting,False,580,65,136,94,54,96,135,4
494,445,GarchompMega Garchomp,Dragon,Ground,False,700,108,170,115,120,95,92,4
498,448,LucarioMega Lucario,Fighting,Steel,False,625,70,145,88,140,70,112,4
511,460,AbomasnowMega Abomasnow,Grass,Ice,False,594,90,132,105,132,105,30,4
527,475,GalladeMega Gallade,Psychic,Fighting,False,618,68,165,95,65,115,110,4
591,531,AudinoMega Audino,Normal,Fairy,False,545,103,60,126,80,126,50,5
796,719,DiancieMega Diancie,Rock,Fairy,True,700,50,160,110,160,110,110,6

In [30]:
# Select only data having "Name" excludes the word "Mega". Note: use "~" for exclusion 
df.loc[~df["Name"].str.contains("Mega")]

,#,Name,Type 1,Type 2,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,1,Bulbasaur,Grass,Poison,False,318,45,49,49,65,65,45,1
1,2,Ivysaur,Grass,Poison,False,405,60,62,63,80,80,60,1
2,3,Venusaur,Grass,Poison,False,525,80,82,83,100,100,80,1
4,4,Charmander,Fire,NaN,False,309,39,52,43,60,50,65,1
5,5,Charmeleon,Fire,NaN,False,405,58,64,58,80,65,80,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
794,718,Zygarde50% Forme,Dragon,Ground,True,600,108,100,121,81,95,95,6
795,719,Diancie,Rock,Fairy,True,600,50,100,150,100,150,50,6
797,720,HoopaHoopa Confined,Psychic,Ghost,True,600,80,110,60,150,130,70,6
798,720,HoopaHoopa Unbound,Psychic,Dark,True,680,80,160,60,170,130,80,6
799,721,Volcanion,Fire,Water,True,600,80,110,120,130,90,70,6

In [35]:
# Use regular expression for filtering data 
import re   # regular expression library 

# Select only data having Type 1 contains either the word "Fire" or "Grass"
#  Notes: use "re.I" to ignore case sensitive data 
df.loc[df["Type 1"].str.contains("fire|grass", flags=re.I, regex=True)]

,#,Name,Type 1,Type 2,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,1,Bulbasaur,Grass,Poison,False,318,45,49,49,65,65,45,1
1,2,Ivysaur,Grass,Poison,False,405,60,62,63,80,80,60,1
2,3,Venusaur,Grass,Poison,False,525,80,82,83,100,100,80,1
3,3,VenusaurMega Venusaur,Grass,Poison,False,625,80,100,123,122,120,80,1
4,4,Charmander,Fire,NaN,False,309,39,52,43,60,50,65,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,667,Litleo,Fire,Normal,False,369,62,50,58,73,54,72,6
736,668,Pyroar,Fire,Normal,False,507,86,68,72,109,66,106,6
740,672,Skiddo,Grass,NaN,False,350,66,65,48,62,57,52,6
741,673,Gogoat,Grass,NaN,False,531,123,100,62,97,81,68,6
799,721,Volcanion,Fire,Water,True,600,80,110,120,130,90,70,6

In [36]:
# Select only data having Name contains "pi" with (zero or more) letters followed
#  Notes: use "re.I" to ignore case sensitive data 
df.loc[df["Name"].str.contains("pi[a+z]*", flags=re.I, regex=True)]

,#,Name,Type 1,Type 2,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
13,10,Caterpie,Bug,NaN,False,195,45,30,35,20,20,45,1
20,16,Pidgey,Normal,Flying,False,251,40,45,40,35,35,56,1
21,17,Pidgeotto,Normal,Flying,False,349,63,60,55,50,50,71,1
22,18,Pidgeot,Normal,Flying,False,479,83,80,75,70,70,101,1
23,18,PidgeotMega Pidgeot,Normal,Flying,False,579,83,80,80,135,80,121,1
30,25,Pikachu,Electric,NaN,False,320,35,55,40,50,50,90,1
42,37,Vulpix,Fire,NaN,False,299,38,41,40,50,65,65,1
76,70,Weepinbell,Grass,Poison,False,390,65,90,50,85,45,55,1
84,78,Rapidash,Fire,NaN,False,500,65,100,70,80,80,105,1
136,127,Pinsir,Bug,NaN,False,500,65,125,100,55,70,85,1
137,127,PinsirMega Pinsir,Bug,Flying,False,600,65,155,120,65,90,105,1
181,167,Spinarak,Bug,Poison,False,250,40,60,40,40,40,30,2
186,172,Pichu,Electric,NaN,False,205,20,40,15,35,35,60,2
189,175,Togepi,Fairy,NaN,False,245,35,20,65,40,65,20,2
202,187,Hoppip,Grass,Flying,False,250,35,35,40,35,55,50,2
219,204,Pineco,Bug,NaN,False,290,50,65,90,35,35,15,2
239,221,Piloswine,Ice,Ground,False,450,100,100,80,60,60,50,2
266,247,Pupitar,Rock,Ground,False,410,70,84,70,65,70,51,2
345,316,Gulpin,Poison,NaN,False,302,70,43,53,43,53,40,3
357,326,Grumpig,Psychic,NaN,False,470,80,45,65,90,110,80,3
358,327,Spinda,Normal,NaN,False,360,60,60,60,60,60,60,3
359,328,Trapinch,Ground,NaN,False,290,45,100,45,45,45,10,3
390,357,Tropius,Grass,Flying,False,460,99,68,83,72,87,51,3
438,393,Piplup,Water,NaN,False,314,53,51,53,61,56,40,4
463,416,Vespiquen,Bug,Flying,False,474,70,80,102,80,102,40,4
488,440,Happiny,Normal,NaN,False,220,100,5,5,15,65,30,4
490,442,Spiritomb,Ghost,Dark,False,485,50,92,108,92,108,35,4
501,451,Skorupi,Poison,Bug,False,330,40,50,90,30,55,65,4
502,452,Drapion,Poison,Dark,False,500,70,90,110,60,75,95,4
557,498,Tepig,Fire,NaN,False,308,65,63,45,45,45,45,5
558,499,Pignite,Fire,Fighting,False,418,90,93,55,70,55,55,5
578,519,Pidove,Normal,Flying,False,264,50,55,50,36,30,43,5
596,536,Palpitoad,Water,Ground,False,384,75,65,55,65,55,69,5
716,648,MeloettaPirouette Forme,Normal,Fighting,False,600,100,128,90,77,77,128,5
718,650,Chespin,Grass,NaN,False,313,56,61,65,48,45,38,6

In [39]:
# Select only data having Name begins with "pi" with (zero or more) letters followed
#  Notes: use "re.I" to ignore case sensitive data 
df.loc[df["Name"].str.contains("^pi[a+z]*", flags=re.I, regex=True)]

,#,Name,Type 1,Type 2,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
20,16,Pidgey,Normal,Flying,False,251,40,45,40,35,35,56,1
21,17,Pidgeotto,Normal,Flying,False,349,63,60,55,50,50,71,1
22,18,Pidgeot,Normal,Flying,False,479,83,80,75,70,70,101,1
23,18,PidgeotMega Pidgeot,Normal,Flying,False,579,83,80,80,135,80,121,1
30,25,Pikachu,Electric,NaN,False,320,35,55,40,50,50,90,1
136,127,Pinsir,Bug,NaN,False,500,65,125,100,55,70,85,1
137,127,PinsirMega Pinsir,Bug,Flying,False,600,65,155,120,65,90,105,1
186,172,Pichu,Electric,NaN,False,205,20,40,15,35,35,60,2
219,204,Pineco,Bug,NaN,False,290,50,65,90,35,35,15,2
239,221,Piloswine,Ice,Ground,False,450,100,100,80,60,60,50,2
438,393,Piplup,Water,NaN,False,314,53,51,53,61,56,40,4
558,499,Pignite,Fire,Fighting,False,418,90,93,55,70,55,55,5
578,519,Pidove,Normal,Flying,False,264,50,55,50,36,30,43,5

CONDIITIONAL CHANGES

In [16]:
# Read "modified_pokemon.csv" into data frame 
import pandas as pd 

df = pd.read_csv("datasets/modified_pokemon.csv")

# Conditional changes by setting "Legendary" to True if "Type 1" is Grass
df.loc[df["Type 1"] == "Grass", "Legendary"] = True

df.head(5)

,#,Name,Type 1,Type 2,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,1,Bulbasaur,Grass,Poison,True,318,45,49,49,65,65,45,1
1,2,Ivysaur,Grass,Poison,True,405,60,62,63,80,80,60,1
2,3,Venusaur,Grass,Poison,True,525,80,82,83,100,100,80,1
3,3,VenusaurMega Venusaur,Grass,Poison,True,625,80,100,123,122,120,80,1
4,4,Charmander,Fire,NaN,False,309,39,52,43,60,50,65,1

In [15]:
# Read "modified_pokemon.csv" into data frame 
import pandas as pd 

df = pd.read_csv("datasets/modified_pokemon.csv")

# Set "Generation" & "Legendary" to "TEST VALUE"
df.loc[df["Total"] > 500, ["Generation", "Legendary"]] = ["Test 1", "Test 2"]

df.head(5)

,#,Name,Type 1,Type 2,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,1,Bulbasaur,Grass,Poison,False,318,45,49,49,65,65,45,1
1,2,Ivysaur,Grass,Poison,False,405,60,62,63,80,80,60,1
2,3,Venusaur,Grass,Poison,Test 2,525,80,82,83,100,100,80,Test 1
3,3,VenusaurMega Venusaur,Grass,Poison,Test 2,625,80,100,123,122,120,80,Test 1
4,4,Charmander,Fire,NaN,False,309,39,52,43,60,50,65,1

AGGREGATE STATISTICS (groupby)

In [17]:
# Read "modified_pokemon.csv" into data frame 
import pandas as pd 

df = pd.read_csv("datasets/modified_pokemon.csv")

df.groupby(["Type 1"]).mean().sort_values("Attack", ascending=False)

,#,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
Type 1,,,,,,,,,,
Dragon,474.375000,0.375000,550.531250,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,3.875000
Fighting,363.851852,0.000000,416.444444,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,3.370370
Ground,356.281250,0.125000,437.500000,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,3.156250
Rock,392.727273,0.090909,453.750000,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,3.454545
Steel,442.851852,0.148148,487.703704,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,3.851852
Dark,461.354839,0.064516,445.741935,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,4.032258
Fire,327.403846,0.096154,458.076923,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,3.211538
Flying,677.750000,0.500000,485.000000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,5.500000
Poison,251.785714,0.000000,399.142857,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,2.535714
Water,303.089286,0.035714,430.455357,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,2.857143
Ghost,486.500000,0.062500,439.562500,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,4.187500
Normal,319.173469,0.020408,401.683673,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020,3.051020
Grass,344.871429,0.042857,421.142857,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,3.357143
Ice,423.541667,0.083333,433.458333,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333,3.541667
Psychic,380.807018,0.245614,475.947368,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228,3.385965
Bug,334.492754,0.000000,378.927536,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,3.217391
Electric,363.500000,0.090909,443.409091,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,3.272727
Fairy,449.529412,0.058824,413.176471,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,4.117647

In [19]:
df.groupby(["Type 1"]).sum()

,#,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
Type 1,,,,,,,,,,
Bug,23080,0,26146,3925,4897,4880,3717,4471,4256,222
Dark,14302,2,13818,2071,2740,2177,2314,2155,2361,125
Dragon,15180,12,17617,2666,3588,2764,3099,2843,2657,124
Electric,15994,4,19510,2631,3040,2917,3961,3243,3718,144
Fairy,7642,1,7024,1260,1046,1117,1335,1440,826,70
Fighting,9824,0,11244,1886,2613,1780,1434,1747,1784,91
Fire,17025,5,23820,3635,4408,3524,4627,3755,3871,167
Flying,2711,2,1940,283,315,265,377,290,410,22
Ghost,15568,2,14066,2062,2361,2598,2539,2447,2059,134
Grass,24141,3,29480,4709,5125,4956,5425,4930,4335,235
Ground,11401,4,14000,2361,3064,2715,1807,2008,2045,101
Ice,10165,2,10403,1728,1746,1714,1861,1831,1523,85
Normal,31279,2,39365,7573,7200,5865,5470,6245,7012,299
Poison,7050,0,11176,1883,2091,1927,1692,1803,1780,71
Psychic,21706,14,27129,4026,4073,3858,5609,4918,4645,193
Rock,17280,4,19965,2876,4086,4435,2787,3321,2460,152
Steel,11957,4,13168,1761,2503,3412,1823,2177,1492,104
Water,33946,4,48211,8071,8305,8170,8379,7898,7388,320

In [20]:
df.groupby(["Type 1"]).count()

,#,Name,Type 2,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
Type 1,,,,,,,,,,,,
Bug,69,69,52,69,69,69,69,69,69,69,69,69
Dark,31,31,21,31,31,31,31,31,31,31,31,31
Dragon,32,32,21,32,32,32,32,32,32,32,32,32
Electric,44,44,17,44,44,44,44,44,44,44,44,44
Fairy,17,17,2,17,17,17,17,17,17,17,17,17
Fighting,27,27,7,27,27,27,27,27,27,27,27,27
Fire,52,52,24,52,52,52,52,52,52,52,52,52
Flying,4,4,2,4,4,4,4,4,4,4,4,4
Ghost,32,32,22,32,32,32,32,32,32,32,32,32
Grass,70,70,37,70,70,70,70,70,70,70,70,70
Ground,32,32,19,32,32,32,32,32,32,32,32,32
Ice,24,24,11,24,24,24,24,24,24,24,24,24
Normal,98,98,37,98,98,98,98,98,98,98,98,98
Poison,28,28,13,28,28,28,28,28,28,28,28,28
Psychic,57,57,19,57,57,57,57,57,57,57,57,57
Rock,44,44,35,44,44,44,44,44,44,44,44,44
Steel,27,27,22,27,27,27,27,27,27,27,27,27
Water,112,112,53,112,112,112,112,112,112,112,112,112

In [21]:
df["count"] = 1
df.groupby(["Type 1", "Type 2"]).count()["count"]

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Ghost        1
                    ..
Water   Ice          3
        Poison       3
        Psychic      5
        Rock         4
        Steel        1
Name: count, Length: 136, dtype: int64

WORKING WITH LARGE AMOUNT OF DATA

In [23]:
for df in pd.read_csv("datasets/modified_pokemon.csv", chunksize=5):
    print("CHUNKED DF\n")
    print(df)

me  Type 1 Type 2  Legendary  Total  HP  Attack  Defense  \
670  609  Chandelure   Ghost   Fire      False    520  60      55       90
671  610        Axew  Dragon    NaN      False    320  46      87       60
672  611     Fraxure  Dragon    NaN      False    410  66     117       70
673  612     Haxorus  Dragon    NaN      False    540  76     147       90
674  613     Cubchoo     Ice    NaN      False    305  55      70       40

     Sp. Atk  Sp. Def  Speed  Generation
670      145       90     80           5
671       30       40     57           5
672       40       50     67           5
673       60       70     97           5
674       60       40     40           5
CHUNKED DF

       #       Name  Type 1    Type 2  Legendary  Total   HP  Attack  Defense  \
675  614    Beartic     Ice       NaN      False    485   95     110       80
676  615  Cryogonal     Ice       NaN      False    485   70      50       30
677  616    Shelmet     Bug       NaN      False    305   50      40       85
678  617   Accelgor     Bug       NaN      False    495   80      70       40
679  618   Stunfisk  Ground  Electric      False    471  109      66       84

     Sp. Atk  Sp. Def  Speed  Generation
675       70       80     50           5
676       95      135    105           5
677       40       65     25           5
678      100       60    145           5
679       81       99     32           5
CHUNKED DF

       #       Name    Type 1 Type 2  Legendary  Total  HP  Attack  Defense  \
680  619    Mienfoo  Fighting    NaN      False    350  45      85       50
681  620   Mienshao  Fighting    NaN      False    510  65     125       60
682  621  Druddigon    Dragon    NaN      False    485  77     120       90
683  622     Golett    Ground  Ghost      False    303  59      74       50
684  623     Golurk    Ground  Ghost      False    483  89     124       80

     Sp. Atk  Sp. Def  Speed  Generation
680       55       50     65           5
681       95       60    105           5
682       60       90     48           5
683       35       50     35           5
684       55       80     55           5
CHUNKED DF

       #        Name  Type 1  Type 2  Legendary  Total   HP  Attack  Defense  \
685  624    Pawniard    Dark   Steel      False    340   45      85       70
686  625     Bisharp    Dark   Steel      False    490   65     125      100
687  626  Bouffalant  Normal     NaN      False    490   95     110       95
688  627     Rufflet  Normal  Flying      False    350   70      83       50
689  628    Braviary  Normal  Flying      False    510  100     123       75

     Sp. Atk  Sp. Def  Speed  Generation
685       40       40     60           5
686       60       70     70           5
687       40       95     55           5
688       37       50     60           5
689       57       75     80           5
CHUNKED DF

       #       Name Type 1  Type 2  Legendary  Total   HP  Attack  Defense  \
690  629    Vullaby   Dark  Flying      False    370   70      55       75
691  630  Mandibuzz   Dark  Flying      False    510  110      65      105
692  631    Heatmor   Fire     NaN      False    484   85      97       66
693  632     Durant    Bug   Steel      False    484   58     109      112
694  633      Deino   Dark  Dragon      False    300   52      65       50

     Sp. Atk  Sp. Def  Speed  Generation
690       45       65     60           5
691       55       95     80           5
692      105       66     65           5
693       48       48    109           5
694       45       50     38           5
CHUNKED DF

       #       Name Type 1    Type 2  Legendary  Total  HP  Attack  Defense  \
695  634   Zweilous   Dark    Dragon      False    420  72      85       70
696  635  Hydreigon   Dark    Dragon      False    600  92     105       90
697  636   Larvesta    Bug      Fire      False    360  55      85       55
698  637  Volcarona    Bug      Fire      False    550  85      60       65
699  638   Cobalion  Steel  Fighting       True    580  91      90      129

     Sp. Atk  Sp. Def  Speed  Generation
695       65       70     58           5
696      125       90     98           5
697       50       55     60           5
698      135      105    100           5
699       90       72    108           5
CHUNKED DF

       #                      Name    Type 1    Type 2  Legendary  Total  HP  \
700  639                 Terrakion      Rock  Fighting       True    580  91
701  640                  Virizion     Grass  Fighting       True    580  91
702  641   TornadusIncarnate Forme    Flying       NaN       True    580  79
703  641     TornadusTherian Forme    Flying       NaN       True    580  79
704  642  ThundurusIncarnate Forme  Electric    Flying       True    580  79

     Attack  Defense  Sp. Atk  Sp. Def  Speed  Generation
700     129       90       72       90    108           5
701      90       72       90      129    108           5
702     115       70      125       80    111           5
703     100       80      110       90    121           5
704     115       70      125       80    111           5
CHUNKED DF

       #                     Name    Type 1    Type 2  Legendary  Total   HP  \
705  642   ThundurusTherian Forme  Electric    Flying       True    580   79
706  643                 Reshiram    Dragon      Fire       True    680  100
707  644                   Zekrom    Dragon  Electric       True    680  100
708  645  LandorusIncarnate Forme    Ground    Flying       True    600   89
709  645    LandorusTherian Forme    Ground    Flying       True    600   89

     Attack  Defense  Sp. Atk  Sp. Def  Speed  Generation
705     105       70      145       80    101           5
706     120      100      150      120     90           5
707     150      120      120      100     90           5
708     125       90      115       80    101           5
709     145       90      105       80     91           5
CHUNKED DF

       #                  Name  Type 1    Type 2  Legendary  Total   HP  \
710  646                Kyurem  Dragon       Ice       True    660  125
711  646    KyuremBlack Kyurem  Dragon       Ice       True    700  125
712  646    KyuremWhite Kyurem  Dragon       Ice       True    700  125
713  647  KeldeoOrdinary Forme   Water  Fighting      False    580   91
714  647  KeldeoResolute Forme   Water  Fighting      False    580   91

     Attack  Defense  Sp. Atk  Sp. Def  Speed  Generation
710     130       90      130       90     95           5
711     170      100      120       90     95           5
712     120       90      170      100     95           5
713      72       90      129       90    108           5
714      72       90      129       90    108           5
CHUNKED DF

       #                     Name  Type 1    Type 2  Legendary  Total   HP  \
715  648       MeloettaAria Forme  Normal   Psychic      False    600  100
716  648  MeloettaPirouette Forme  Normal  Fighting      False    600  100
717  649                 Genesect     Bug     Steel      False    600   71
718  650                  Chespin   Grass       NaN      False    313   56
719  651                Quilladin   Grass       NaN      False    405   61

     Attack  Defense  Sp. Atk  Sp. Def  Speed  Generation
715      77       77      128      128     90           5
716     128       90       77       77    128           5
717     120       95      120       95     99           5
718      61       65       48       45     38           6
719      78       95       56       58     57           6
CHUNKED DF

       #        Name Type 1    Type 2  Legendary  Total  HP  Attack  Defense  \
720  652  Chesnaught  Grass  Fighting      False    530  88     107      122
721  653    Fennekin   Fire       NaN      False    307  40      45       40
722  654     Braixen   Fire       NaN      False    409  59      59       58
723  655     Delphox   Fire   Psychic      False    534  75      69       72
724  656     Froakie  Water       NaN      False    314  41      56       40

     Sp. Atk  Sp. Def  Speed  Generation
720       74       75     64           6
721       62       60     60           6
722       90       70     73           6
723      114      100    104           6
724       62       44     71           6
CHUNKED DF

       #        Name  Type 1  Type 2  Legendary  Total  HP  Attack  Defense  \
725  657   Frogadier   Water     NaN      False    405  54      63       52
726  658    Greninja   Water    Dark      False    530  72      95       67
727  659    Bunnelby  Normal     NaN      False    237  38      36       38
728  660   Diggersby  Normal  Ground      False    423  85      56       77
729  661  Fletchling  Normal  Flying      False    278  45      50       43

     Sp. Atk  Sp. Def  Speed  Generation
725       83       56     97           6
726      103       71    122           6
727       32       36     57           6
728       50       77     78           6
729       40       38     62           6
CHUNKED DF

       #         Name Type 1  Type 2  Legendary  Total  HP  Attack  Defense  \
730  662  Fletchinder   Fire  Flying      False    382  62      73       55
731  663   Talonflame   Fire  Flying      False    499  78      81       71
732  664   Scatterbug    Bug     NaN      False    200  38      35       40
733  665       Spewpa    Bug     NaN      False    213  45      22       60
734  666     Vivillon    Bug  Flying      False    411  80      52       50

     Sp. Atk  Sp. Def  Speed  Generation
730       56       52     84           6
731       74       69    126           6
732       27       25     35           6
733       27       30     29           6
734       90       50     89           6
CHUNKED DF

       #     Name Type 1  Type 2  Legendary  Total  HP  Attack  Defense  \
735  667   Litleo   Fire  Normal      False    369  62      50       58
736  668   Pyroar   Fire  Normal      False    507  86      68       72
737  669  Flabb  Fairy     NaN      False    303  44      38       39
738  670  Floette  Fairy     NaN      False    371  54      45       47
739  671  Florges  Fairy     NaN      False    552  78      65       68

     Sp. Atk  Sp. Def  Speed  Generation
735       73       54     72           6
736      109       66    106           6
737       61       79     42           6
738       75       98     52           6
739      112      154     75           6
CHUNKED DF

       #     Name    Type 1 Type 2  Legendary  Total   HP  Attack  Defense  \
740  672   Skiddo     Grass    NaN      False    350   66      65       48
741  673   Gogoat     Grass    NaN      False    531  123     100       62
742  674  Pancham  Fighting    NaN      False    348   67      82       62
743  675  Pangoro  Fighting   Dark      False    495   95     124       78
744  676  Furfrou    Normal    NaN      False    472   75      80       60

     Sp. Atk  Sp. Def  Speed  Generation
740       62       57     52           6
741       97       81     68           6
742       46       48     43           6
743       69       71     58           6
744       65       90    102           6
CHUNKED DF

       #            Name   Type 1 Type 2  Legendary  Total  HP  Attack  \
745  677          Espurr  Psychic    NaN      False    355  62      48
746  678    MeowsticMale  Psychic    NaN      False    466  74      48
747  678  MeowsticFemale  Psychic    NaN      False    466  74      48
748  679         Honedge    Steel  Ghost      False    325  45      80
749  680        Doublade    Steel  Ghost      False    448  59     110

     Defense  Sp. Atk  Sp. Def  Speed  Generation
745       54       63       60     68           6
746       76       83       81    104           6
747       76       83       81    104           6
748      100       35       37     28           6
749      150       45       49     35           6
CHUNKED DF

       #                   Name Type 1 Type 2  Legendary  Total   HP  Attack  \
750  681   AegislashBlade Forme  Steel  Ghost      False    520   60     150
751  681  AegislashShield Forme  Steel  Ghost      False    520   60      50
752  682               Spritzee  Fairy    NaN      False    341   78      52
753  683             Aromatisse  Fairy    NaN      False    462  101      72
754  684                Swirlix  Fairy    NaN      False    341   62      48

     Defense  Sp. Atk  Sp. Def  Speed  Generation
750       50      150       50     60           6
751      150       50      150     60           6
752       60       63       65     23           6
753       72       99       89     29           6
754       66       59       57     49           6
CHUNKED DF

       #        Name Type 1   Type 2  Legendary  Total  HP  Attack  Defense  \
755  685    Slurpuff  Fairy      NaN      False    480  82      80       86
756  686       Inkay   Dark  Psychic      False    288  53      54       53
757  687     Malamar   Dark  Psychic      False    482  86      92       88
758  688     Binacle   Rock    Water      False    306  42      52       67
759  689  Barbaracle   Rock    Water      False    500  72     105      115

     Sp. Atk  Sp. Def  Speed  Generation
755       85       75     72           6
756       37       46     45           6
757       68       75     73           6
758       39       56     50           6
759       54       86     68           6
CHUNKED DF

       #        Name    Type 1  Type 2  Legendary  Total  HP  Attack  Defense  \
760  690      Skrelp    Poison   Water      False    320  50      60       60
761  691    Dragalge    Poison  Dragon      False    494  65      75       90
762  692   Clauncher     Water     NaN      False    330  50      53       62
763  693   Clawitzer     Water     NaN      False    500  71      73       88
764  694  Helioptile  Electric  Normal      False    289  44      38       33

     Sp. Atk  Sp. Def  Speed  Generation
760       60       60     30           6
761       97      123     44           6
762       58       63     44           6
763      120       89     59           6
764       61       43     70           6
CHUNKED DF

       #       Name    Type 1  Type 2  Legendary  Total   HP  Attack  Defense  \
765  695  Heliolisk  Electric  Normal      False    481   62      55       52
766  696     Tyrunt      Rock  Dragon      False    362   58      89       77
767  697  Tyrantrum      Rock  Dragon      False    521   82     121      119
768  698     Amaura      Rock     Ice      False    362   77      59       50
769  699    Aurorus      Rock     Ice      False    521  123      77       72

     Sp. Atk  Sp. Def  Speed  Generation
765      109       94    109           6
766       45       45     48           6
767       69       59     71           6
768       67       63     46           6
769       99       92     58           6
CHUNKED DF

       #      Name    Type 1  Type 2  Legendary  Total  HP  Attack  Defense  \
770  700   Sylveon     Fairy     NaN      False    525  95      65       65
771  701  Hawlucha  Fighting  Flying      False    500  78      92       75
772  702   Dedenne  Electric   Fairy      False    431  67      58       57
773  703   Carbink      Rock   Fairy      False    500  50      50      150
774  704     Goomy    Dragon     NaN      False    300  45      50       35

     Sp. Atk  Sp. Def  Speed  Generation
770      110      130     60           6
771       74       63    118           6
772       81       67    101           6
773       50      150     50           6
774       55       75     40           6
CHUNKED DF

       #       Name  Type 1 Type 2  Legendary  Total  HP  Attack  Defense  \
775  705    Sliggoo  Dragon    NaN      False    452  68      75       53
776  706     Goodra  Dragon    NaN      False    600  90     100       70
777  707     Klefki   Steel  Fairy      False    470  57      80       91
778  708   Phantump   Ghost  Grass      False    309  43      70       48
779  709  Trevenant   Ghost  Grass      False    474  85     110       76

     Sp. Atk  Sp. Def  Speed  Generation
775       83      113     60           6
776      110      150     80           6
777       80       87     75           6
778       50       60     38           6
779       65       82     56           6
CHUNKED DF

       #                   Name Type 1 Type 2  Legendary  Total  HP  Attack  \
780  710  PumpkabooAverage Size  Ghost  Grass      False    335  49      66
781  710    PumpkabooSmall Size  Ghost  Grass      False    335  44      66
782  710    PumpkabooLarge Size  Ghost  Grass      False    335  54      66
783  710    PumpkabooSuper Size  Ghost  Grass      False    335  59      66
784  711  GourgeistAverage Size  Ghost  Grass      False    494  65      90

     Defense  Sp. Atk  Sp. Def  Speed  Generation
780       70       44       55     51           6
781       70       44       55     56           6
782       70       44       55     46           6
783       70       44       55     41           6
784      122       58       75     84           6
CHUNKED DF

       #                 Name Type 1 Type 2  Legendary  Total  HP  Attack  \
785  711  GourgeistSmall Size  Ghost  Grass      False    494  55      85
786  711  GourgeistLarge Size  Ghost  Grass      False    494  75      95
787  711  GourgeistSuper Size  Ghost  Grass      False    494  85     100
788  712             Bergmite    Ice    NaN      False    304  55      69
789  713              Avalugg    Ice    NaN      False    514  95     117

     Defense  Sp. Atk  Sp. Def  Speed  Generation
785      122       58       75     99           6
786      122       58       75     69           6
787      122       58       75     54           6
788       85       32       35     28           6
789      184       44       46     28           6
CHUNKED DF

       #              Name  Type 1  Type 2  Legendary  Total   HP  Attack  \
790  714            Noibat  Flying  Dragon      False    245   40      30
791  715           Noivern  Flying  Dragon      False    535   85      70
792  716           Xerneas   Fairy     NaN       True    680  126     131
793  717           Yveltal    Dark  Flying       True    680  126     131
794  718  Zygarde50% Forme  Dragon  Ground       True    600  108     100

     Defense  Sp. Atk  Sp. Def  Speed  Generation
790       35       45       40     55           6
791       80       97       80    123           6
792       95      131       98     99           6
793       95      131       98     99           6
794      121       81       95     95           6
CHUNKED DF

       #                 Name   Type 1 Type 2  Legendary  Total  HP  Attack  \
795  719              Diancie     Rock  Fairy       True    600  50     100
796  719  DiancieMega Diancie     Rock  Fairy       True    700  50     160
797  720  HoopaHoopa Confined  Psychic  Ghost       True    600  80     110
798  720   HoopaHoopa Unbound  Psychic   Dark       True    680  80     160
799  721            Volcanion     Fire  Water       True    600  80     110

     Defense  Sp. Atk  Sp. Def  Speed  Generation
795      150      100      150     50           6
796      110      160      110    110           6
797       60      150      130     70           6
798       60      170      130     80           6
799      120      130       90     70           6

In [38]:
new_df = pd.DataFrame(columns=df.columns)

for df in pd.read_csv("datasets/modified_pokemon.csv", chunksize=5):
    results = df.groupby(["Type 1"]).count()
    new_df = pd.concat([new_df, results])
    
    print(new_df)

N      0         1     1  1      1       1       1
Grass   4    4    NaN      4         4     4  4      4       4       4
Fire    4    4    NaN      3         4     4  4      4       4       4
Water   1    1    NaN      0         1     1  1      1       1       1
Bug     2    2    NaN      0         2     2  2      2       2       2
...    ..  ...    ...    ...       ...   ... ..    ...     ...     ...
Fire    3    3    NaN      1         3     3  3      3       3       3
Grass   1    1    NaN      1         1     1  1      1       1       1
Water   1    1    NaN      0         1     1  1      1       1       1
Normal  3    3    NaN      2         3     3  3      3       3       3
Water   2    2    NaN      1         2     2  2      2       2       2

       Sp. Def Speed Generation
Fire         1     1          1
Grass        4     4          4
Fire         4     4          4
Water        1     1          1
Bug          2     2          2
...        ...   ...        ...
Fire         3     3          3
Grass        1     1          1
Water        1     1          1
Normal       3     3          3
Water        2     2          2

[396 rows x 13 columns]
        # Name Type 1 Type 2 Legendary Total HP Attack Defense Sp. Atk  \
Fire    1    1    NaN      0         1     1  1      1       1       1
Grass   4    4    NaN      4         4     4  4      4       4       4
Fire    4    4    NaN      3         4     4  4      4       4       4
Water   1    1    NaN      0         1     1  1      1       1       1
Bug     2    2    NaN      0         2     2  2      2       2       2
...    ..  ...    ...    ...       ...   ... ..    ...     ...     ...
Water   1    1    NaN      0         1     1  1      1       1       1
Normal  3    3    NaN      2         3     3  3      3       3       3
Water   2    2    NaN      1         2     2  2      2       2       2
Bug     3    3    NaN      1         3     3  3      3       3       3
Fire    2    2    NaN      2         2     2  2      2       2       2

       Sp. Def Speed Generation
Fire         1     1          1
Grass        4     4          4
Fire         4     4          4
Water        1     1          1
Bug          2     2          2
...        ...   ...        ...
Water        1     1          1
Normal       3     3          3
Water        2     2          2
Bug          3     3          3
Fire         2     2          2

[398 rows x 13 columns]
       # Name Type 1 Type 2 Legendary Total HP Attack Defense Sp. Atk Sp. Def  \
Fire   1    1    NaN      0         1     1  1      1       1       1       1
Grass  4    4    NaN      4         4     4  4      4       4       4       4
Fire   4    4    NaN      3         4     4  4      4       4       4       4
Water  1    1    NaN      0         1     1  1      1       1       1       1
Bug    2    2    NaN      0         2     2  2      2       2       2       2
...   ..  ...    ...    ...       ...   ... ..    ...     ...     ...     ...
Water  2    2    NaN      1         2     2  2      2       2       2       2
Bug    3    3    NaN      1         3     3  3      3       3       3       3
Fire   2    2    NaN      2         2     2  2      2       2       2       2
Fairy  3    3    NaN      0         3     3  3      3       3       3       3
Fire   2    2    NaN      2         2     2  2      2       2       2       2

      Speed Generation
Fire      1          1
Grass     4          4
Fire      4          4
Water     1          1
Bug       2          2
...     ...        ...
Water     2          2
Bug       3          3
Fire      2          2
Fairy     3          3
Fire      2          2

[400 rows x 13 columns]
          # Name Type 1 Type 2 Legendary Total HP Attack Defense Sp. Atk  \
Fire      1    1    NaN      0         1     1  1      1       1       1
Grass     4    4    NaN      4         4     4  4      4       4       4
Fire      4    4    NaN      3         4     4  4      4       4       4
Water     1    1    NaN      0         1     1  1      1       1       1
Bug       2    2    NaN      0         2     2  2      2       2       2
...      ..  ...    ...    ...       ...   ... ..    ...     ...     ...
Fairy     3    3    NaN      0         3     3  3      3       3       3
Fire      2    2    NaN      2         2     2  2      2       2       2
Fighting  2    2    NaN      1         2     2  2      2       2       2
Grass     2    2    NaN      0         2     2  2      2       2       2
Normal    1    1    NaN      0         1     1  1      1       1       1

         Sp. Def Speed Generation
Fire           1     1          1
Grass          4     4          4
Fire           4     4          4
Water          1     1          1
Bug            2     2          2
...          ...   ...        ...
Fairy          3     3          3
Fire           2     2          2
Fighting       2     2          2
Grass          2     2          2
Normal         1     1          1

[403 rows x 13 columns]
          # Name Type 1 Type 2 Legendary Total HP Attack Defense Sp. Atk  \
Fire      1    1    NaN      0         1     1  1      1       1       1
Grass     4    4    NaN      4         4     4  4      4       4       4
Fire      4    4    NaN      3         4     4  4      4       4       4
Water     1    1    NaN      0         1     1  1      1       1       1
Bug       2    2    NaN      0         2     2  2      2       2       2
...      ..  ...    ...    ...       ...   ... ..    ...     ...     ...
Fighting  2    2    NaN      1         2     2  2      2       2       2
Grass     2    2    NaN      0         2     2  2      2       2       2
Normal    1    1    NaN      0         1     1  1      1       1       1
Psychic   3    3    NaN      0         3     3  3      3       3       3
Steel     2    2    NaN      2         2     2  2      2       2       2

         Sp. Def Speed Generation
Fire           1     1          1
Grass          4     4          4
Fire           4     4          4
Water          1     1          1
Bug            2     2          2
...          ...   ...        ...
Fighting       2     2          2
Grass          2     2          2
Normal         1     1          1
Psychic        3     3          3
Steel          2     2          2

[405 rows x 13 columns]
         # Name Type 1 Type 2 Legendary Total HP Attack Defense Sp. Atk  \
Fire     1    1    NaN      0         1     1  1      1       1       1
Grass    4    4    NaN      4         4     4  4      4       4       4
Fire     4    4    NaN      3         4     4  4      4       4       4
Water    1    1    NaN      0         1     1  1      1       1       1
Bug      2    2    NaN      0         2     2  2      2       2       2
...     ..  ...    ...    ...       ...   ... ..    ...     ...     ...
Normal   1    1    NaN      0         1     1  1      1       1       1
Psychic  3    3    NaN      0         3     3  3      3       3       3
Steel    2    2    NaN      2         2     2  2      2       2       2
Fairy    3    3    NaN      0         3     3  3      3       3       3
Steel    2    2    NaN      2         2     2  2      2       2       2

        Sp. Def Speed Generation
Fire          1     1          1
Grass         4     4          4
Fire          4     4          4
Water         1     1          1
Bug           2     2          2
...         ...   ...        ...
Normal        1     1          1
Psychic       3     3          3
Steel         2     2          2
Fairy         3     3          3
Steel         2     2          2

[407 rows x 13 columns]
       # Name Type 1 Type 2 Legendary Total HP Attack Defense Sp. Atk Sp. Def  \
Fire   1    1    NaN      0         1     1  1      1       1       1       1
Grass  4    4    NaN      4         4     4  4      4       4       4       4
Fire   4    4    NaN      3         4     4  4      4       4       4       4
Water  1    1    NaN      0         1     1  1      1       1       1       1
Bug    2    2    NaN      0         2     2  2      2       2       2       2
...   ..  ...    ...    ...       ...   ... ..    ...     ...     ...     ...
Fairy  3    3    NaN      0         3     3  3      3       3       3       3
Steel  2    2    NaN      2         2     2  2      2       2       2       2
Dark   2    2    NaN      2         2     2  2      2       2       2       2
Fairy  1    1    NaN      0         1     1  1      1       1       1       1
Rock   2    2    NaN      2         2     2  2      2       2       2       2

      Speed Generation
Fire      1          1
Grass     4          4
Fire      4          4
Water     1          1
Bug       2          2
...     ...        ...
Fairy     3          3
Steel     2          2
Dark      2          2
Fairy     1          1
Rock      2          2

[410 rows x 13 columns]
          # Name Type 1 Type 2 Legendary Total HP Attack Defense Sp. Atk  \
Fire      1    1    NaN      0         1     1  1      1       1       1
Grass     4    4    NaN      4         4     4  4      4       4       4
Fire      4    4    NaN      3         4     4  4      4       4       4
Water     1    1    NaN      0         1     1  1      1       1       1
Bug       2    2    NaN      0         2     2  2      2       2       2
...      ..  ...    ...    ...       ...   ... ..    ...     ...     ...
Fairy     1    1    NaN      0         1     1  1      1       1       1
Rock      2    2    NaN      2         2     2  2      2       2       2
Electric  1    1    NaN      1         1     1  1      1       1       1
Poison    2    2    NaN      2         2     2  2      2       2       2
Water     2    2    NaN      0         2     2  2      2       2       2

         Sp. Def Speed Generation
Fire           1     1          1
Grass          4     4          4
Fire           4     4          4
Water          1     1          1
Bug            2     2          2
...          ...   ...        ...
Fairy          1     1          1
Rock           2     2          2
Electric       1     1          1
Poison         2     2          2
Water          2     2          2

[413 rows x 13 columns]
          # Name Type 1 Type 2 Legendary Total HP Attack Defense Sp. Atk  \
Fire      1    1    NaN      0         1     1  1      1       1       1
Grass     4    4    NaN      4         4     4  4      4       4       4
Fire      4    4    NaN      3         4     4  4      4       4       4
Water     1    1    NaN      0         1     1  1      1       1       1
Bug       2    2    NaN      0         2     2  2      2       2       2
...      ..  ...    ...    ...       ...   ... ..    ...     ...     ...
Electric  1    1    NaN      1         1     1  1      1       1       1
Poison    2    2    NaN      2         2     2  2      2       2       2
Water     2    2    NaN      0         2     2  2      2       2       2
Electric  1    1    NaN      1         1     1  1      1       1       1
Rock      4    4    NaN      4         4     4  4      4       4       4

         Sp. Def Speed Generation
Fire           1     1          1
Grass          4     4          4
Fire           4     4          4
Water          1     1          1
Bug            2     2          2
...          ...   ...        ...
Electric       1     1          1
Poison         2     2          2
Water          2     2          2
Electric       1     1          1
Rock           4     4          4

[415 rows x 13 columns]
          # Name Type 1 Type 2 Legendary Total HP Attack Defense Sp. Atk  \
Fire      1    1    NaN      0         1     1  1      1       1       1
Grass     4    4    NaN      4         4     4  4      4       4       4
Fire      4    4    NaN      3         4     4  4      4       4       4
Water     1    1    NaN      0         1     1  1      1       1       1
Bug       2    2    NaN      0         2     2  2      2       2       2
...      ..  ...    ...    ...       ...   ... ..    ...     ...     ...
Dragon    1    1    NaN      0         1     1  1      1       1       1
Electric  1    1    NaN      1         1     1  1      1       1       1
Fairy     1    1    NaN      0         1     1  1      1       1       1
Fighting  1    1    NaN      1         1     1  1      1       1       1
Rock      1    1    NaN      1         1     1  1      1       1       1

         Sp. Def Speed Generation
Fire           1     1          1
Grass          4     4          4
Fire           4     4          4
Water          1     1          1
Bug            2     2          2
...          ...   ...        ...
Dragon         1     1          1
Electric       1     1          1
Fairy          1     1          1
Fighting       1     1          1
Rock           1     1          1

[420 rows x 13 columns]
          # Name Type 1 Type 2 Legendary Total HP Attack Defense Sp. Atk  \
Fire      1    1    NaN      0         1     1  1      1       1       1
Grass     4    4    NaN      4         4     4  4      4       4       4
Fire      4    4    NaN      3         4     4  4      4       4       4
Water     1    1    NaN      0         1     1  1      1       1       1
Bug       2    2    NaN      0         2     2  2      2       2       2
...      ..  ...    ...    ...       ...   ... ..    ...     ...     ...
Fighting  1    1    NaN      1         1     1  1      1       1       1
Rock      1    1    NaN      1         1     1  1      1       1       1
Dragon    2    2    NaN      0         2     2  2      2       2       2
Ghost     2    2    NaN      2         2     2  2      2       2       2
Steel     1    1    NaN      1         1     1  1      1       1       1

         Sp. Def Speed Generation
Fire           1     1          1
Grass          4     4          4
Fire           4     4          4
Water          1     1          1
Bug            2     2          2
...          ...   ...        ...
Fighting       1     1          1
Rock           1     1          1
Dragon         2     2          2
Ghost          2     2          2
Steel          1     1          1

[423 rows x 13 columns]
        # Name Type 1 Type 2 Legendary Total HP Attack Defense Sp. Atk  \
Fire    1    1    NaN      0         1     1  1      1       1       1
Grass   4    4    NaN      4         4     4  4      4       4       4
Fire    4    4    NaN      3         4     4  4      4       4       4
Water   1    1    NaN      0         1     1  1      1       1       1
Bug     2    2    NaN      0         2     2  2      2       2       2
...    ..  ...    ...    ...       ...   ... ..    ...     ...     ...
Rock    1    1    NaN      1         1     1  1      1       1       1
Dragon  2    2    NaN      0         2     2  2      2       2       2
Ghost   2    2    NaN      2         2     2  2      2       2       2
Steel   1    1    NaN      1         1     1  1      1       1       1
Ghost   5    5    NaN      5         5     5  5      5       5       5

       Sp. Def Speed Generation
Fire         1     1          1
Grass        4     4          4
Fire         4     4          4
Water        1     1          1
Bug          2     2          2
...        ...   ...        ...
Rock         1     1          1
Dragon       2     2          2
Ghost        2     2          2
Steel        1     1          1
Ghost        5     5          5

[424 rows x 13 columns]
       # Name Type 1 Type 2 Legendary Total HP Attack Defense Sp. Atk Sp. Def  \
Fire   1    1    NaN      0         1     1  1      1       1       1       1
Grass  4    4    NaN      4         4     4  4      4       4       4       4
Fire   4    4    NaN      3         4     4  4      4       4       4       4
Water  1    1    NaN      0         1     1  1      1       1       1       1
Bug    2    2    NaN      0         2     2  2      2       2       2       2
...   ..  ...    ...    ...       ...   ... ..    ...     ...     ...     ...
Ghost  2    2    NaN      2         2     2  2      2       2       2       2
Steel  1    1    NaN      1         1     1  1      1       1       1       1
Ghost  5    5    NaN      5         5     5  5      5       5       5       5
Ghost  3    3    NaN      3         3     3  3      3       3       3       3
Ice    2    2    NaN      0         2     2  2      2       2       2       2

      Speed Generation
Fire      1          1
Grass     4          4
Fire      4          4
Water     1          1
Bug       2          2
...     ...        ...
Ghost     2          2
Steel     1          1
Ghost     5          5
Ghost     3          3
Ice       2          2

[426 rows x 13 columns]
        # Name Type 1 Type 2 Legendary Total HP Attack Defense Sp. Atk  \
Fire    1    1    NaN      0         1     1  1      1       1       1
Grass   4    4    NaN      4         4     4  4      4       4       4
Fire    4    4    NaN      3         4     4  4      4       4       4
Water   1    1    NaN      0         1     1  1      1       1       1
Bug     2    2    NaN      0         2     2  2      2       2       2
...    ..  ...    ...    ...       ...   ... ..    ...     ...     ...
Ice     2    2    NaN      0         2     2  2      2       2       2
Dark    1    1    NaN      1         1     1  1      1       1       1
Dragon  1    1    NaN      1         1     1  1      1       1       1
Fairy   1    1    NaN      0         1     1  1      1       1       1
Flying  2    2    NaN      2         2     2  2      2       2       2

       Sp. Def Speed Generation
Fire         1     1          1
Grass        4     4          4
Fire         4     4          4
Water        1     1          1
Bug          2     2          2
...        ...   ...        ...
Ice          2     2          2
Dark         1     1          1
Dragon       1     1          1
Fairy        1     1          1
Flying       2     2          2

[430 rows x 13 columns]
         # Name Type 1 Type 2 Legendary Total HP Attack Defense Sp. Atk  \
Fire     1    1    NaN      0         1     1  1      1       1       1
Grass    4    4    NaN      4         4     4  4      4       4       4
Fire     4    4    NaN      3         4     4  4      4       4       4
Water    1    1    NaN      0         1     1  1      1       1       1
Bug      2    2    NaN      0         2     2  2      2       2       2
...     ..  ...    ...    ...       ...   ... ..    ...     ...     ...
Fairy    1    1    NaN      0         1     1  1      1       1       1
Flying   2    2    NaN      2         2     2  2      2       2       2
Fire     1    1    NaN      1         1     1  1      1       1       1
Psychic  2    2    NaN      2         2     2  2      2       2       2
Rock     2    2    NaN      2         2     2  2      2       2       2

        Sp. Def Speed Generation
Fire          1     1          1
Grass         4     4          4
Fire          4     4          4
Water         1     1          1
Bug           2     2          2
...         ...   ...        ...
Fairy         1     1          1
Flying        2     2          2
Fire          1     1          1
Psychic       2     2          2
Rock          2     2          2

[433 rows x 13 columns]